body{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#25201d+0,33211a+100 */
background: rgb(37,32,29); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(37,32,29,1) 0%, rgba(51,33,26,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(37,32,29,1) 0%,rgba(51,33,26,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(37,32,29,1) 0%,rgba(51,33,26,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#25201d', endColorstr='#33211a',GradientType=0 ); /* IE6-9 */

}
#wrapper{
    margin: auto;
    width: 80%;
    padding: 20px;
    background-image: url('https://www.filterforge.com/filters/8503.jpg');
    background-repeat: repeat;
    background-position: center; 
    -webkit-box-shadow: 0px 0px 60px 20px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 60px 20px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 60px 20px rgba(0,0,0,0.75);
}
.title{
padding: 10px;
}
#announce_img_1{
width: 100%;
}
#card_1{
position: relative;
padding-top: 110px;
}
#card_2{
position: relative;
padding-top: 300px;
padding-bottom: 100px;
}
#card_3{
margin: auto;
width: 100%;
padding-top: 100px;
padding-bottom: 100px;
}
#card_4{

padding-bottom: 100px;
}
/*Menu*/
#menu{
margin: auto;
width: 80%;
padding: 30px;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4b2a13+13,240e0b+75 */
background: rgb(75,42,19); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(75,42,19,1) 13%, rgba(36,14,11,1) 75%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(75,42,19,1) 13%,rgba(36,14,11,1) 75%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(75,42,19,1) 13%,rgba(36,14,11,1) 75%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b2a13', endColorstr='#240e0b',GradientType=0 ); /* IE6-9 */

}
#menu li{
display: inline;
}
#icon img{
padding-left: 16px;
width: 128px;
}
#title_maps{
margin: auto;
width: 40%;
padding: 10px;
}
#title_about{
margin: auto;
width: 40%;
padding: 10px;
}
#title_contact{
margin: auto;
width: 40%;
padding: 10px;
}
h2{
background:white;
border-radius: 5px;
padding: 15px !important;
text-align: center;
}
a:link{
color:black;
}
a:hover{
color:red;
}
a:visited{
color:black;
}
a:selected{
color:blue;
}
footer{
background:#33211A;
padding: 5px !important;
color:black;
}
h3{
text-align: center;
color:white;
}
.fotorama{
width: 900px;
  margin-left: auto ;
  margin-right: auto ;
}